# gradle
/build/
/.gradle/
/gradle.properties

# eclipse files
.classpath
.project
.settings/
/bin/

# intellij files
/.idea/
*.iml
*.ipr
*.iws

# netbeans files
/target/
/.nb-gradle/
*.nb-gradle-properties
